@import url('https://fonts.googleapis.com/css?family=Poor+Story');

.header {
  color: #ff9f1c;
  margin: 0 auto;
  width: 90vw;
  text-align: center;
  font-family: 'Poor Story', cursive;
  font-size: 25px;
  background-color: #011627;
}

.r {
  color: #e71d36;
}

.v {
  color: #e71d36;
}
