@import url("https://fonts.googleapis.com/css?family=Pacifico");

.header {
  padding: 0 30px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b2d3b2;
  border: 4px groove #213b21;
  margin: 0 auto;
  width: 90vw;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  letter-spacing: 7px;
  background-color: #77b276;
}

.r {
  color: #487d47;
}

.v {
  color: #487d47;
}
