@import url("https://fonts.googleapis.com/css?family=Poor+Story");

.videoCard {
  background: #77b276;
  padding: 2px 16px;
  text-align: center;
  display: block;
  margin: 5px;
  min-height: 330px;
  width: 350px;
  border: 4px groove #0a2909;
  box-shadow: 3px 1px 4px #0a2909;
}
.videoLink {
  color: #213b21;
  text-decoration: none;
  font-family: "Poor Story", cursive;
  font-size: 24px;
  text-shadow: 1px 1px black;
}

.videoLink:hover {
  color: #2ec4b6;
}

p {
  font-family: "Poor Story", cursive;
  font-size: 20px;
  color: #213b21;
}
