@import url("https://fonts.googleapis.com/css?family=Poor+Story");

.videoCard {
  background: #011627;
  padding: 2px 16px;
  text-align: center;
  display: block;
  margin: 5px;
  min-height: 330px;
  width: 350px;
  border: 4px groove #2ec4b6;
  box-shadow: 3px 1px 4px #2ec4b6;
}
.videoLink {
  color: #ff9f1c;
  text-decoration: none;
  font-family: "Poor Story", cursive;
  font-size: 24px;
  text-shadow: 2px 2px black;
}

p {
  font-family: "Poor Story", cursive;
  font-size: 20px;
  color: #ff9f1c;
}
